<% @entries.each do |entry| %>
  <div class="entry">
    <img src="<%=entry.image.thumb%>" />
    <div class="social">
    <% if current_user %>
      <%= form_for(entry, remote: true) do |f| %>

        <%= f.fields_for :tweets do |tweet| %>
          <%= tweet.text_area :message, size: "10x5", :value=>"Useful for your tweets on Twitter, as well as a multitude of other applications. ##{APP_CONFIG['tw_hashtag']}" %>
        <% end %>
        <span data-id="<%=entry.id%>" class="submitter twitter_icon">Tweet!</span>

      <% end %>

    <% else %>
      <%= link_to "share", "/auth/twitter", {:id=>"tweet", :class=>"social"} %>
    <% end %>

    </div>

  </div>
<% end %>


