// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color:#000;
}
.entry{
  background-color:#333;
  float:left;
  margin:0 10px 10px 0;
  border:1px solid #ccc;
  padding:10px;
  img{
    display:block;
    margin:0 0 4px 0;
  }
  span, a{
    font-family:helvetica;
    text-align:left;
    text-decoration:none;
    display:block;
    height:30px;
    line-height:30px;
    text-indent:40px;
    color:#00aeff;
    background:url(twitter-bird-dark-bgs.png);
    background-size:30px 30px;
    background-repeat:no-repeat;
    font-family: 'signal';
    cursor:pointer;
  }
  form{
    margin:0;
    padding:0;
    textarea{
      width:187px;
      border:none;
      box-shadow:none;
      background-color:#666;
      color:#fff;
    }
  }
}