@font-face {
  font-family: 'custom';
  src: url("/assets/fonts/Siri-Black_RB.woff");
  src: local("☺"),
  url("/assets/fonts/Siri-Black_RB.woff") format("woff"),
  font-weight: normal;
  font-style: normal; }

@font-face {
    font-family: 'signal';
    src: url('signal-no3-d-webfont.eot');
    src: url('signal-no3-d-webfont.eot?#iefix') format('embedded-opentype'),
         url('signal-no3-d-webfont.woff') format('woff'),
         url('signal-no3-d-webfont.ttf') format('truetype'),
         url('signal-no3-d-webfont.svg#signal_no3_dregular') format('svg');
    font-weight: normal;
    font-style: normal;
}